body {
  
  padding: 0;
}

background-image: linear-gradient(135deg, #ffffff 40%, #000000 40%, #000000 50%, #ffffff 50%, #ffffff 90%, #000000 90%, #000000 100%);
background-size: 35.36px 35.36px;

.center {
margin: auto;
width: 60%;
border: 5px solid #FFFF00;
padding: 10px;
}

div.ex2 {
  
  overflow: hidden;
}